<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | aFadedKnight</title>
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sitestyle.css">
        <link rel="icon" type="image/png" href="/imgs/favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="../imgs/favicons/favicon.svg" />
        <link rel="shortcut icon" href="../imgs/favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="../imgs/favicons/apple-touch-icon.png" />
        <link rel="manifest" href="../imgs/favicons/site.webmanifest" />
    </head>
        <body>
            <header>
                <a href="../index">
                    <img src="../imgs/logos/KnightLogo4kTransparent.png" alt="aFadedKnight Primary Logo transparent" class="Home">
                </a>
                <!-- Mobile Menu Icon -->
                <div class="mobile-menu-icon" id="mobile-menu-icon">&#9776;
                </div>
                <nav class="Links">
                    <ul class="nav__links">
                        <a href="../categories/VirtualProd"><button class="Renders">Virtual Prod</button></a>
                        <a href="../categories/Animation"><button class="Animation">Animation</button></a>
                        <a href="../Projects/AllProjects"><button class="All">All Work</button></a>
                        <a href="../categories/3DRenders"><button class="LiveProd">Renders</button></a>
                        <a href="../categories/More"><button class="Other">More</button></a>
                    </ul>
                </nav>
                <!-- About button -->
                <a href="../about" class="about-link"><button class="about">About</button></a>
            </header>
            <!-- Mobile Menu -->
            <div class="mobile-menu" id="mobile-menu">
                <a href="../categories/VirtualProd"><button class="Renders">Virtual Prod</button></a>
                <a href="../categories/Animation"><button class="Animation">Animation</button></a>
                <a href="../Projects/AllProjects"><button class="All">All Work</button></a>
                <a href="../categories/3DRenders"><button class="LiveProd">Renders</button></a>
                <a href="../categories/More"><button class="Other">More</button></a>
            </div>
            {{ content }}
        </body>
        <script src="../js/jquery.js"></script>
        <script type="module" src="../js/headermenu.js"></script>
</html>